
(static_site) {
        # Set root directory to the dir mounted from the host
        root * /srv

        # Enable the static file server
        file_server

        handle_errors {
            respond "{err.status_code} {err.status_text}"
        }
}

# Needs to match the DNS A record for TLS to work
thebicpen.run.place {
    import static_site
}

# TLS won't work for this config
:80 {
    import static_site
}

# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile
